<!-- viewport meta tag  -->
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<!-- link for css file  -->
<link rel="stylesheet" href="/css/home.css">

<div id="container">
    <!-- heading  -->
    <p id="heading">TODO App</p>

    <!-- form  -->
    <div>
        <form action="/create-todo" id="form" method="POST">
            <!-- description -->
            <div id="form-description" class="border-and-dimension">
                <div class="bold-text margin-left margin-top uppercase">Description</div>
                <input type="text" id="input-description" name="description" placeholder="What do you need to do?" required>
            </div>
            <!-- category  -->
            <span id="form-category" class="border-and-dimension">
                <div class="bold-text margin-left margin-top uppercase">category</div>
                <select name="category" id="category" placeholder="Choose a category">
                    <option value="">Choose a Category</option>

                    <!-- available options  -->
                    <option value="Personal">Personal</option>
                    <option value="Work">Work</option>
                    <option value="School">School</option>
                    <option value="Cleaning">Cleaning</option>
                    <option value="Other">Other</option>
                </select>
            </span>
            <!-- due date  -->
            <span id="form-date" class="border-and-dimension">
                <div class="bold-text margin-left margin-top uppercase">due date</div>
                <input type="date" name="date" id="input-date" placeholder="yyyy/mm/dd" value="NO DEADLINE">
            </span>
            <!-- submit button  -->
            <div id="submit-button-container" class="button">
                <button type="submit" id="submit-button">
                    <i class="fas fa-plus" style="color:white; position:relative; right: 30px;"></i> 
                    ADD TASK
                    </button>
            </div>

        </form> 
    </div>






    <!-- database  -->
    <div>
            <form action="/delete" method="POST" id="data-form">

                <!-- button to delete selected elements  -->
                <span class="button">
                    <button type="submit" id="delete-button">
                        <i class="fas fa-trash-alt" style="color:white; position:relative; right: 30px;"></i>
                        DELETE</button>
                </span>



                <ul type="none" id="database-container">
                    <% for(let i of todo_list){ %>
                        <li class="border-top" id="single-data" >
                            <!-- using checkbox here to mark multiple elements for deletion  -->
                            <input type="checkbox" name="mark-for-delete"  value="<%= i._id %>" class="enlarge-checkbox">
                                <span id="data-markdelete-description-date">
                                    
        
                                    <!-- description and date  -->
                                    <span id="data-description-time" class="<%= i._id %>">
                                        <p class ="bold-text" id="data-description"> <%= i.description %> </p>
                                        <p id="data-date"> <% if(i.date == ""){ %>
                                                <i class="far fa-calendar-alt" style="color:grey"></i>
                                                NO DEADLINE
                                            <% }else{ %>
                                                <i class="far fa-calendar-alt" style="color:grey"></i>
                                                <%= i.date %>    
                                            <% } %>
                                        </p>
                                    </span>
        
                                </span>
                                <!-- category  -->
                                <span id="data-category" class="<%= i._id %>">
                                    <% if(i.category == ""){ %>
                                        <% continue; %>
                                    <% }else if(i.category == "Personal"){ %>
                                        <span style="background-color: lightseagreen;"><%= i.category %></span>
                                    <% }else if(i.category == "Work"){ %>
                                        <span style="background-color: purple;"> <%= i.category %> </span>
                                    <% }else if(i.category == "School"){ %>
                                        <span style="background-color: orange;"> <%= i.category %> </span>
                                    <% }else if(i.category == "Cleaning"){ %>
                                        <span style="background-color: brown;"><%= i.category %> </span>
                                    <% }else if(i.category == "Other"){ %>
                                        <span style="background-color: darkblue;"> <%= i.category %> </span>
                                    <% } %>
                                </span>
                            
                            <br>        
                            
                        </li>
                    <% } %>
                </ul>
            </form>
    </div>
</div>



<!-- font awesome  -->
<script src="https://kit.fontawesome.com/f2b6f6518a.js" crossorigin="anonymous"></script>
<!-- js file  -->
<script type="text/javascript" src="/js/home.js"></script>
<!-- jQuery file  -->
<!-- <script src="jquery-3.6.0.js"></script> -->