<link rel="stylesheet" href="/css/home.css">

<div id="container">
    <!-- heading  -->
    <p id="heading">TODO App</p>

    <!-- form  -->
    <div>
        <form action="/create-todo" id="form" method="POST">
            <div id="form-description" class="border-and-dimension">
                <div class="bold-text margin-left margin-top uppercase">Description</div>
                <input type="text" name="description" placeholder="What do you need to do?" required>
            </div>
            <span id="form-category" class="border-and-dimension">
                <div class="bold-text margin-left margin-top uppercase">category</div>
                <select name="category" id="category" placeholder="Choose a category">
                    <option value="">Choose a Category</option>

                    <!-- available options  -->
                    <option value="Personal">Personal</option>
                    <option value="Work">Work</option>
                    <option value="School">School</option>
                    <option value="Cleaning">Cleaning</option>
                    <option value="Other">Other</option>
                </select>
            </span>
            <span id="form-date" class="border-and-dimension">
                <div class="bold-text margin-left margin-top uppercase">due date</div>
                <input type="date" name="date" placeholder="yyyy/mm/dd" value="NO DEADLINE">
            </span>

            <div id="submit-button-container" class="button">
                <button type="submit" id="submit-button">
                    <i class="fas fa-plus" style="color:white; position:relative; right: 30px;"></i> 
                    ADD TASK
                    </button>
            </div>

        </form> 
    </div>

    <span class="button">
        <a href="/delete-todo/" >
            <button type="submit" id="delete-button">
                <i class="fas fa-trash-alt" style="color:white; position:relative; right: 30px;"></i>
                DELETE</button>
        </a>
    </span>

    <!-- database  -->
    <div id="database-container">
        
            <ul type="none" >
                <% for(let i of todo_list){ %>
                    <li class="border-top" id="single-data">
                        
                        <span id="data-markdelete-description-date">
                            <!-- mark for delete button  -->
                            <!-- <span id="mark-button-container"> -->
                                <a href="/mark-for-delete/?id=<%= i._id %>">
                                    <!-- <button type="submit" style="height:15px; width:10px;"></button> -->
                                    <span id="mark-button" ></span>
                                </a>
                            <!-- </span> -->

                            <!-- description and date  -->
                            <span id="data-description-time">
                                <p class ="bold-text" id="data-description"> <%= i.description %> </p>
                                <p id="data-date"> <% if(i.date == ""){ %>
                                        <i class="far fa-calendar-alt" style="color:grey"></i>
                                        NO DEADLINE
                                    <% }else{ %>
                                        <i class="far fa-calendar-alt" style="color:grey"></i>
                                        <%= i.date %>    
                                    <% } %>
                                </p>
                            </span>

                        </span>
                        <!-- category  -->
                        <span id="data-category">
                            <% if(i.category == ""){ %>
                                <% continue; %>
                            <% }else if(i.category == "Personal"){ %>
                                <span style="background-color: lightseagreen;"><%= i.category %></span>
                            <% }else if(i.category == "Work"){ %>
                                <span style="background-color: purple;"> <%= i.category %> </span>
                            <% }else if(i.category == "School"){ %>
                                <span style="background-color: orange;"> <%= i.category %> </span>
                            <% }else if(i.category == "Cleaning"){ %>
                                <span style="background-color: brown;"><%= i.category %> </span>
                            <% }else if(i.category == "Other"){ %>
                                <span style="background-color: darkblue;"> <%= i.category %> </span>
                            <% } %>
                        </span>
                        
                    </li>
                <% } %>
            </ul>
    </div>
</div>



<!-- font awesome  -->
<script src="https://kit.fontawesome.com/f2b6f6518a.js" crossorigin="anonymous"></script>